@page
@model RCAONE.Pages.Login.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="~/css/Login.css" />
    <title>EMERSON RCA CAPA SYSTEM </title>
  </head>
  <body>
    <div class="container">
        <form action="#" class="login-form">
          <h1>MyEmerson Login</h1>
          <input type="text" asp-for="Admin.userid" name="username" placeholder="six number id"/>
          <input type="password" asp-for="Admin.userpassword" name="password" placeholder="password"/>
          <button type="submit">Login</button>
          <a id="forget" href="../Registered/Registered">Click Here to Register</a>
        </form>
      </div>
    </div>
 @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 
</body>
</html>
